
bin/Debug/BoxOffice.exe
bin/Debug/BoxOffice.exe.config
bin/Debug/BoxOffice.pdb
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/BoxOffice.csproj.CoreCompileInputs.cache
obj/Debug/BoxOffice.csproj.FileListAbsolute.txt
obj/Debug/BoxOffice.csproj.GenerateResource.cache
obj/Debug/BoxOffice.csprojAssemblyReference.cache
obj/Debug/BoxOffice.exe
obj/Debug/BoxOffice.g.resources
obj/Debug/BoxOffice.pdb
obj/Debug/BoxOffice.Properties.Resources.resources
obj/Debug/BoxOffice_MarkupCompile.cache
obj/Debug/BoxOffice_MarkupCompile.i.cache
obj/Debug/BoxOffice_MarkupCompile.i.lref
obj/Debug/BoxOffice_MarkupCompile.lref
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/WindowAdd.g.cs
obj/Debug/WindowAdd.g.i.cs
obj/Debug/WindowAddColourOrType.g.cs
obj/Debug/WindowAddColourOrType.g.i.cs
bin/Debug/BoxOffice.exe
bin/Debug/BoxOffice.exe.config
bin/Debug/BoxOffice.pdb
obj/Debug/App.g.cs
obj/Debug/App.g.i.cs
obj/Debug/BoxOffice.csproj.CoreCompileInputs.cache
obj/Debug/BoxOffice.csproj.FileListAbsolute.txt
obj/Debug/BoxOffice.csproj.GenerateResource.cache
obj/Debug/BoxOffice.csprojAssemblyReference.cache
obj/Debug/BoxOffice.exe
obj/Debug/BoxOffice.g.resources
obj/Debug/BoxOffice.pdb
obj/Debug/BoxOffice.Properties.Resources.resources
obj/Debug/BoxOffice_MarkupCompile.cache
obj/Debug/BoxOffice_MarkupCompile.i.cache
obj/Debug/BoxOffice_MarkupCompile.i.lref
obj/Debug/BoxOffice_MarkupCompile.lref
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/MainWindow.g.cs
obj/Debug/MainWindow.g.i.cs
obj/Debug/WindowAdd.g.cs
obj/Debug/WindowAdd.g.i.cs
obj/Debug/WindowAddColourOrType.g.cs
obj/Debug/WindowAddColourOrType.g.i.cs
bin/Release/BoxOffice.exe
bin/Release/BoxOffice.exe.config
bin/Release/BoxOffice.pdb
obj/Debug/MainWindow.baml
obj/Debug/WindowAdd.baml
obj/Debug/WindowAddColourOrType.baml
obj/Release/App.g.cs
obj/Release/App.g.i.cs
obj/Release/BoxOffice.csproj.CoreCompileInputs.cache
obj/Release/BoxOffice.csproj.FileListAbsolute.txt
obj/Release/BoxOffice.csproj.GenerateResource.cache
obj/Release/BoxOffice.exe
obj/Release/BoxOffice.g.resources
obj/Release/BoxOffice.pdb
obj/Release/BoxOffice.Properties.Resources.resources
obj/Release/BoxOffice_MarkupCompile.cache
obj/Release/BoxOffice_MarkupCompile.lref
obj/Release/MainWindow.baml
obj/Release/MainWindow.g.cs
obj/Release/MainWindow.g.i.cs
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
obj/Release/WindowAdd.baml
obj/Release/WindowAdd.g.cs
obj/Release/WindowAdd.g.i.cs
obj/Release/WindowAddColourOrType.baml
obj/Release/WindowAddColourOrType.g.cs
obj/Release/WindowAddColourOrType.g.i.cs
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/WindowDelete.g.i.cs
obj/Debug/WindowShoppingChoice.baml
obj/Debug/WindowShoppingChoice.g.cs
obj/Debug/WindowShoppingChoice.g.i.cs
obj/Debug/WindowStorehouse.baml
obj/Debug/WindowStorehouse.g.cs
obj/Debug/WindowStorehouse.g.i.cs
obj/Debug/WindowShoppingList.baml
obj/Debug/WindowShoppingList.g.cs
obj/Debug/WindowShoppingList.g.i.cs
obj/Debug/BoxOffice.csproj.CopyComplete
bin/Debug/DataBaseContact.dll
bin/Debug/DataBaseContact.pdb
